body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h3, h4, h5 {
    margin: 15px 5px 5px 5px
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

form {
    width: 300px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label, form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input.error {
    border-color: red;
}

button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}


button.danger {
    background-color: #ff6666;
}

button.danger:hover {
    background-color: #ee5555;
}


button.primary {
    background-color: #999999;
}

button.primary:hover {
    background-color: #888888;
}

form button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}

main {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.toast {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff6666;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; /* 默认不显示，通过 JavaScript 控制显示 */
    text-align: center;
    max-width: 80%; /* 防止 Toast 过宽 */
}
